# Git & VCS
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pytest_cache
.venv
venv

# Large/local data not needed in image
/data
/notebooks
/secrets

# Local environment files
.env
.env.*

# OS/editor files
.DS_Store
*.swp
*.swo

# Build artifacts
wheels
*.whl
